flows.json
[
    {
        "id": "1ea9bf9f.8f75c",
        "type": "tab",
        "label": "Some Feature",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e83e9c97.8fa75",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "10.2.11.20",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "Super machine",
        "vartable": [
            {
                "addr": "Q0.0",
                "name": "outV20_di1"
            },
            {
                "addr": "M1.0",
                "name": "FirstScan"
            },
            {
                "addr": "M1.2",
                "name": "AlwaysTRUE"
            },
            {
                "addr": "M1.3",
                "name": "AlwaysFALSE"
            },
            {
                "addr": "M0.1",
                "name": "Clock_5Hz"
            },
            {
                "addr": "M0.2",
                "name": "Clock_2.5Hz"
            },
            {
                "addr": "M0.3",
                "name": "Clock_2Hz"
            },
            {
                "addr": "M0.7",
                "name": "Clock_0.5Hz"
            },
            {
                "addr": "M300.0",
                "name": "Tag_3"
            },
            {
                "addr": "M301.0",
                "name": "Simulation"
            },
            {
                "addr": "I91.0",
                "name": "inpPlowDown_2"
            },
            {
                "addr": "I91.1",
                "name": "inpPlow UP_2"
            },
            {
                "addr": "I91.2",
                "name": "inpBaggerUP_2"
            },
            {
                "addr": "I91.3",
                "name": "inpBaggerDown_2"
            },
            {
                "addr": "I91.4",
                "name": "inpBaggerMiddle1_2"
            },
            {
                "addr": "I91.5",
                "name": "inpBaggerMiddle2_2"
            },
            {
                "addr": "Q93.0",
                "name": "outSafetyValve1_2"
            },
            {
                "addr": "Q93.2",
                "name": "outSafetyValve2_2"
            },
            {
                "addr": "Q94.0",
                "name": "outPlowDown_2"
            },
            {
                "addr": "Q94.1",
                "name": "outPlowUP_2"
            },
            {
                "addr": "Q94.2",
                "name": "outBaggerUp_2"
            },
            {
                "addr": "Q94.3",
                "name": "outBaggerDown_2"
            },
            {
                "addr": "Q94.4",
                "name": "outBrakeRelease_2"
            },
            {
                "addr": "I146.0",
                "name": "inpSafety valve1sw1Lift"
            },
            {
                "addr": "I146.1",
                "name": "inpSafety valve1sw2Lift"
            },
            {
                "addr": "I143.0",
                "name": "inpFixingFrameCylinder1_in"
            },
            {
                "addr": "I143.1",
                "name": "inpFixingFrameCylinder1_out"
            },
            {
                "addr": "I143.2",
                "name": "inpFixingFrameCylinder2_in"
            },
            {
                "addr": "I143.6",
                "name": "inpFixingFrameCylinder2out"
            },
            {
                "addr": "I144.4",
                "name": "inpTrolleyFrameCylinderUP1"
            },
            {
                "addr": "I144.5",
                "name": "inpTrolleyFrameCylinderDown1"
            },
            {
                "addr": "I142.0",
                "name": "inpLockingCylider1Locked"
            },
            {
                "addr": "I142.1",
                "name": "inpLockingCylider1Unlocked"
            },
            {
                "addr": "I142.2",
                "name": "inpLockingCylider2Locked"
            },
            {
                "addr": "I142.3",
                "name": "inpLockingCylider2Unlocked"
            },
            {
                "addr": "I142.4",
                "name": "inpLockingCylider3Locked"
            },
            {
                "addr": "I142.5",
                "name": "inpLockingCylider3Unlocked"
            },
            {
                "addr": "I142.6",
                "name": "inpLockingCylider4Locked"
            },
            {
                "addr": "I142.7",
                "name": "inpLockingCylider4Unlocked"
            },
            {
                "addr": "I146.4",
                "name": "inpPressureSensorLow"
            },
            {
                "addr": "I146.5",
                "name": "inpPressureSensorHigh"
            },
            {
                "addr": "I144.0",
                "name": "inpFramePossitionSwitch1"
            },
            {
                "addr": "I144.1",
                "name": "inpFramePossitionSwitch2"
            },
            {
                "addr": "I144.2",
                "name": "inpFramePossitionSwitch3"
            },
            {
                "addr": "I144.3",
                "name": "inpFramePossitionSwitch4"
            },
            {
                "addr": "Q146.0",
                "name": "outSafetyValveLift1"
            },
            {
                "addr": "Q146.2",
                "name": "outSafetyValveLift2"
            },
            {
                "addr": "Q147.0",
                "name": "outFixingFrameCylinderOut"
            },
            {
                "addr": "Q147.1",
                "name": "outFixingFrameCylinderIn"
            },
            {
                "addr": "Q147.4",
                "name": "outTrolleyFrameCylinderBrake"
            },
            {
                "addr": "Q147.7",
                "name": "outLockingCylidersLocked"
            },
            {
                "addr": "Q147.6",
                "name": "outLockingCyliderUnlocked"
            },
            {
                "addr": "Q147.2",
                "name": "outFramePossitionUP"
            },
            {
                "addr": "Q147.3",
                "name": "outFramePossitionDWN"
            },
            {
                "addr": "I91.6",
                "name": "inpBottomBrushLeftUP"
            },
            {
                "addr": "I91.7",
                "name": "inpBottomBrushLeftDWN"
            },
            {
                "addr": "I92.0",
                "name": "inpBottomBrushRightUP"
            },
            {
                "addr": "I92.1",
                "name": "inpBottomBrushRightDWN"
            },
            {
                "addr": "I92.2",
                "name": "inpSideBrushLeftUP"
            },
            {
                "addr": "I92.3",
                "name": "inpSideBrushLeftDWN"
            },
            {
                "addr": "I92.4",
                "name": "inpSideBrushRightUP"
            },
            {
                "addr": "I92.5",
                "name": "inpSideBrushRightDWN"
            },
            {
                "addr": "Q94.6",
                "name": "outBottomBrushUP"
            },
            {
                "addr": "Q94.7",
                "name": "outBottomBrushDWN"
            },
            {
                "addr": "Q95.0",
                "name": "outSideBrushDwn_"
            },
            {
                "addr": "Q95.1",
                "name": "outSideBrushUp_"
            },
            {
                "addr": "Q95.2",
                "name": "outWater"
            },
            {
                "addr": "Q95.3",
                "name": "outWaterMist"
            },
            {
                "addr": "I0.0",
                "name": "inpConveyorPossitionSwitch1"
            },
            {
                "addr": "I0.1",
                "name": "inpConveyorPossitionSwitch2"
            },
            {
                "addr": "I0.2",
                "name": "inpConveyorPossitionSwitch3"
            },
            {
                "addr": "I0.3",
                "name": "inpConveyorPossitionSwitch4"
            },
            {
                "addr": "I0.7",
                "name": "inpConveyorPossitionInLift"
            },
            {
                "addr": "I0.6",
                "name": "inpOptSensConveyorFull"
            },
            {
                "addr": "I1.0",
                "name": "inpTRolleyPressureSens"
            },
            {
                "addr": "I1.1",
                "name": "inpTolleyPressureSens"
            },
            {
                "addr": "I1.6",
                "name": "inpStatusSafetyRelay"
            },
            {
                "addr": "Q0.1",
                "name": "outV20_di2"
            },
            {
                "addr": "Q0.2",
                "name": "outV20_di3"
            },
            {
                "addr": "Q0.3",
                "name": "outV20_di4"
            },
            {
                "addr": "Q0.4",
                "name": "outSafetyBrakeOut1"
            },
            {
                "addr": "Q0.5",
                "name": "outSafetyBrakeOut2"
            },
            {
                "addr": "I144.6",
                "name": "inpTrolleyFrameCylinderUP2"
            },
            {
                "addr": "I144.7",
                "name": "inpTrolleyFrameCylinderDown2"
            },
            {
                "addr": "I145.0",
                "name": "inpTrolleyFrameCylinderUP3"
            },
            {
                "addr": "I145.1",
                "name": "inpTrolleyFrameCylinderDown3"
            },
            {
                "addr": "I145.2",
                "name": "inpTrolleyFrameCylinderUP4"
            },
            {
                "addr": "I145.3",
                "name": "inpTrolleyFrameCylinderDown4"
            },
            {
                "addr": "I143.4",
                "name": "inpSnsFrameConveyor1"
            },
            {
                "addr": "I143.5",
                "name": "inpSnsFrameConveyor2"
            },
            {
                "addr": "Q3.1",
                "name": "outBrushMotor"
            },
            {
                "addr": "Q3.0",
                "name": "outBrushMotor2"
            },
            {
                "addr": "Q1.0",
                "name": "outLampReady"
            },
            {
                "addr": "I2.0",
                "name": "Btn_Reset_Lock_1"
            },
            {
                "addr": "I2.1",
                "name": "Status_DoorOpened_Lock_1"
            },
            {
                "addr": "I2.2",
                "name": "Btn_Reset_Lock_2"
            },
            {
                "addr": "I2.3",
                "name": "Status_DoorOpened_Lock_2"
            },
            {
                "addr": "Q1.2",
                "name": "Cmd_Led_Btn_Lock_1"
            },
            {
                "addr": "Q1.3",
                "name": "Cmd_Lock_1"
            },
            {
                "addr": "Q1.4",
                "name": "Cmd_Led_Btn_Lock_2"
            },
            {
                "addr": "Q1.5",
                "name": "Cmd_Lock_2"
            },
            {
                "addr": "Q1.1",
                "name": "Reset Safety"
            },
            {
                "addr": "IW8",
                "name": "piwHumidity"
            },
            {
                "addr": "IW10",
                "name": "piwTemperature"
            }
        ]
    },
    {
        "id": "6004058d.2ea16c",
        "type": "s7 in",
        "z": "1ea9bf9f.8f75c",
        "endpoint": "e83e9c97.8fa75",
        "mode": "single",
        "variable": "piwTemperature",
        "diff": true,
        "name": "Temp",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "386378a0.9c4ac8"
            ]
        ]
    },
    {
        "id": "1bf7fe1.687a102",
        "type": "debug",
        "z": "1ea9bf9f.8f75c",
        "name": "Temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "386378a0.9c4ac8",
        "type": "function",
        "z": "1ea9bf9f.8f75c",
        "name": "Scale Temperature",
        "func": "function Normalize (val, max, min) { \n    if(max - min === 0) return 1; //\n    return (val - min) / (max - min); \n}\n\nfunction scaleValue(value, from, to) {\n\tvar scale = (to[1] - to[0]) / (from[1] - from[0]);\n\tvar capped = Math.min(from[1], Math.max(from[0], value)) - from[0];\n\treturn ~~(capped * scale + to[0]);\n}\n\n\nlet norm = Normalize(msg.payload, 27648, 0);\nlet scaled = scaleValue (norm, [0,1] , [0,6000]);\nlet temp = scaled/100;\nmsg.payload = temp;\nmsg.topic = \"test\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 100,
        "wires": [
            [
                "1bf7fe1.687a102",
                "aaf2bb8ed9996787"
            ]
        ]
    },
    {
        "id": "8cd7008.b1a3b",
        "type": "s7 in",
        "z": "1ea9bf9f.8f75c",
        "endpoint": "e83e9c97.8fa75",
        "mode": "single",
        "variable": "piwHumidity",
        "diff": true,
        "name": "test Humidity",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "dc6d454e.4b3728"
            ]
        ]
    },
    {
        "id": "dc6d454e.4b3728",
        "type": "function",
        "z": "1ea9bf9f.8f75c",
        "name": "Scale Humidity",
        "func": "function Normalize (val, max, min) { \n    if(max - min === 0) return 1; //\n    return (val - min) / (max - min); \n}\n\nfunction scaleValue(value, from, to) {\n\tvar scale = (to[1] - to[0]) / (from[1] - from[0]);\n\tvar capped = Math.min(from[1], Math.max(from[0], value)) - from[0];\n\treturn ~~(capped * scale + to[0]);\n}\n\n\nlet norm = Normalize(msg.payload, 27648, 0);\nlet scaled = scaleValue (norm, [0,1] , [0,10000]);\nlet hum = scaled/100;\nmsg.payload = hum;\nmsg.topic = \"test\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "6cd06f76.06c16",
                "88b960f675df6069"
            ]
        ]
    },
    {
        "id": "6cd06f76.06c16",
        "type": "debug",
        "z": "1ea9bf9f.8f75c",
        "name": "Humidity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "805ecbb80d8b66e3",
        "type": "comment",
        "z": "1ea9bf9f.8f75c",
        "name": "test 2",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "03e001b8f16ddd3e",
        "type": "join-wait",
        "z": "1ea9bf9f.8f75c",
        "name": "",
        "paths": "[\"temperature\", \"humidity\"]",
        "pathsToExpire": "",
        "useRegex": false,
        "warnUnmatched": false,
        "pathTopic": "paths",
        "pathTopicType": "msg",
        "correlationTopic": "topic",
        "correlationTopicType": "msg",
        "timeout": "15",
        "timeoutUnits": "1000",
        "exactOrder": "false",
        "firstMsg": "true",
        "mapPayload": "true",
        "disableComplete": false,
        "persistOnRestart": false,
        "x": 1480,
        "y": 120,
        "wires": [
            [
                "f1b085798897a439"
            ],
            [
                "3efbb3581a88424a"
            ]
        ]
    },
    {
        "id": "a6603ea191d234bd",
        "type": "debug",
        "z": "1ea9bf9f.8f75c",
        "name": "debug 260",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2250,
        "y": 60,
        "wires": []
    },
    {
        "id": "3efbb3581a88424a",
        "type": "debug",
        "z": "1ea9bf9f.8f75c",
        "name": "expired",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 200,
        "wires": []
    },
    {
        "id": "aaf2bb8ed9996787",
        "type": "change",
        "z": "1ea9bf9f.8f75c",
        "name": "Set path_1",
        "rules": [
            {
                "t": "set",
                "p": "paths",
                "pt": "msg",
                "to": "temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 100,
        "wires": [
            [
                "5b90c85e64de80f5",
                "98c20973513c61df"
            ]
        ]
    },
    {
        "id": "88b960f675df6069",
        "type": "change",
        "z": "1ea9bf9f.8f75c",
        "name": "Set path_2",
        "rules": [
            {
                "t": "set",
                "p": "paths",
                "pt": "msg",
                "to": "humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 160,
        "wires": [
            [
                "df71d460d75ebefc",
                "b3d1a09287d2c746"
            ]
        ]
    },
    {
        "id": "5b90c85e64de80f5",
        "type": "debug",
        "z": "1ea9bf9f.8f75c",
        "name": "debug 262",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 40,
        "wires": []
    },
    {
        "id": "df71d460d75ebefc",
        "type": "debug",
        "z": "1ea9bf9f.8f75c",
        "name": "debug 263",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "98c20973513c61df",
        "type": "delay",
        "z": "1ea9bf9f.8f75c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1150,
        "y": 100,
        "wires": [
            [
                "03e001b8f16ddd3e"
            ]
        ]
    },
    {
        "id": "b3d1a09287d2c746",
        "type": "delay",
        "z": "1ea9bf9f.8f75c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "03e001b8f16ddd3e"
            ]
        ]
    },
    {
        "id": "f1b085798897a439",
        "type": "change",
        "z": "1ea9bf9f.8f75c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "paths",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "paths",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 120,
        "wires": [
            [
                "a473e46690aa7c66",
                "1731d77e3c979b16"
            ]
        ]
    },
    {
        "id": "a473e46690aa7c66",
        "type": "function",
        "z": "1ea9bf9f.8f75c",
        "name": "SETUP machine_id HERE",
        "func": "function formatLocalDate(data) {\n\n    let year = data.getFullYear();\n    let day = ('0' + data.getDate()).slice(-2);\n    let month = ('0' + (data.getMonth() + 1)).slice(-2);\n    let hour = ('0' + data.getHours()).slice(-2);\n    let min = ('0' + data.getMinutes()).slice(-2);\n    let sec = ('0' + data.getSeconds()).slice(-2);\n    let msec = data.getMilliseconds();\n\n    return year + '-' + month + '-' + day + 'T' + hour + ':' + min + ':' + sec + '.' + msec + 'Z';\n}\n\nmsg.payload.location_datetime = formatLocalDate(new Date());\nmsg.payload.site_id = global.get('env').SITE_ID;\nmsg.payload.site_location = global.get('env').SITE_LOCATION;\nmsg.payload.zone_id = global.get('env').ZONE_ID;\n\n//TODO\nmsg.payload.machine_id=2;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 120,
        "wires": [
            [
                "a6603ea191d234bd",
                "ac7a684b9a2fe63b",
                "8a99ba852ca919b3"
            ]
        ]
    },
    {
        "id": "cfde7ef3cb82bd38",
        "type": "comment",
        "z": "1ea9bf9f.8f75c",
        "name": "expired message",
        "info": "",
        "x": 1680,
        "y": 260,
        "wires": []
    },
    {
        "id": "0737292c04241486",
        "type": "comment",
        "z": "1ea9bf9f.8f75c",
        "name": "STORE LOCALLY",
        "info": "",
        "x": 2450,
        "y": 240,
        "wires": []
    },
    {
        "id": "ee98a3a91aed7b33",
        "type": "comment",
        "z": "1ea9bf9f.8f75c",
        "name": "STORE TO THE CLOUD",
        "info": "",
        "x": 2710,
        "y": 60,
        "wires": []
    },
    {
        "id": "ac7a684b9a2fe63b",
        "type": "function",
        "z": "1ea9bf9f.8f75c",
        "name": "set topic for IoT",
        "func": "msg.payload.topic = \"datahub\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 120,
        "wires": [
            [
                "b7dfe7b394f88681",
                "4cdf557890c7f131"
            ]
        ]
    },
    {
        "id": "1731d77e3c979b16",
        "type": "debug",
        "z": "1ea9bf9f.8f75c",
        "name": "debug 270",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 60,
        "wires": []
    },
    {
        "id": "8a99ba852ca919b3",
        "type": "http request",
        "z": "1ea9bf9f.8f75c",
        "name": "POST to Storage Service",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "172.20.18.4:1880/data_input_db",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2450,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4cdf557890c7f131",
        "type": "http request",
        "z": "1ea9bf9f.8f75c",
        "name": "POST to IoT Service",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "172.20.18.2:1880/data_input_iot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2720,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b7dfe7b394f88681",
        "type": "debug",
        "z": "1ea9bf9f.8f75c",
        "name": "debug 271",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2690,
        "y": 220,
        "wires": []
    }
]